<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Геолокация</title>
    @Styles.Render("~/Content/css")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="container body-content">
        <nav class="vertical-menu">
            <a class="searchByIpMenuItem active" href="#">Поиск по IP адресу</a>
            <a class="searchByCityMenuItem" href="#">Поиск по названию города</a>
        </nav>
        <div class="search-screen-container">
            <section class="searchByIpScreen">
                @Html.Partial("_SearchByIp")
            </section>
            <section class="searchByCityScreen">
                @Html.Partial("_SearchByCity")
            </section>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customScripts")

    <script type="text/javascript">
        $(document).ready(function () { 
            initMainPage();
        });
    </script>

</body>
</html>
